@import "globals";

div.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  h1 {
    font-size: 2em;
    color: slategray;
  }
} 

section.users {
  width:100%
}
